body{
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  height: 300vh;
}

main{
  position: fixed;
}

#legende{
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
}

h1{
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.sous_titre{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.sous_titre h3{
  margin-right: 20px;
}

#conteneurIMG{
  position: relative;
  width: 450px;
  height: 450px;
  left: 50vw;
  transform: translate(-50%);
}

.forme{
  mask-image: url(../img/forme.svg);
  mask-repeat: no-repeat;
  height: 100%;
  position: absolute;
 
  width: 100%;
}

#forme1{
  background-color: blue;
  top: 0px;
}
#forme2{
  background-color: red;
  position: absolute; 
  z-index: -1;
  left: 150px; 
  top: 0px;
}

